{% extends 'admin.html.twig' %}
{% block body %}
    <h1 style="color:black; display:flex; text-align:center">Liste des produits</h1>
    <a class="btn btn-primary"href="{{ path('product_crud_new') }}">Create new</a> 
 <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Price</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.picture }}</td>
                <td>
                    <a class = "btn btn-dark" href="{{ path('product_crud_show', {'id': product.id}) }}">details</a>
                    
                    <a class = "btn btn-dark" href="{{ path('product_crud_edit', {'id': product.id}) }}">modifier</a>
                    {{ include('product_crud/_delete_form.html.twig')}}
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   

    </div>
{% endblock %}
