{% extends 'base.html.twig' %}



{% block body %}
    <h1 style="color:black; display:flex; text-align:center; margin-left:auto; margin-right:auto">Veuillez communiquer votre adresse postale </h1>
<div class="container">
    {{form_start(form)}}
    {{form_row(form.lastname)}}
    {{form_row(form.name)}}
    {{form_row(form.email)}}
    {{form_row(form.adress)}}
    {{form_row(form.cp)}}
    {{form_row(form.town)}}
    {{form_row(form.country)}}
    {{form_row(form.rgpd)}}
<button class="btn btn-primary" type="submit" class="btn">Confirmer</button>
    {{form_end(form)}}
    </div>
    
{% endblock %}
