{% extends 'base.html.twig' %}


{% block body %}
   
        <h1 style="color:black; display:flex; justify-content:center"> produits {{product.name}}</h1>
    


     <div class="tabs">
     {# affiche le message une fois le commentaire envoyer  #}
{% for message in app.flashes('message') %}
<div class= " p-3 mb-2 bg-success text-white" >{{message}} </div>
{% endfor %}
<div class="coontainer">
<div class="row">
<div class="col">
<div class="col-4 mt-4">
                    
		<div class="card w-10 h-20"  >
				<div id="carousel" class="carousel slide carousel-fade h-5" style='height: 300px;'data-bs-ride="carousel" data-bs-interval="0" >
					
                    <div class="carousel-inner">
						<div class="carousel-item active">
							
                                <img class="w-100" src="{{ asset('image/') ~ product.picture }}" alt="Image de ">
                            
						</div>
						<div class="carousel-item">
							
                                <img class="w-100" src="{{ asset('image/') ~ product.picture }}" alt="Image de ">
                            
						</div>
						<div class="carousel-item">
							
                                <img class="w-100" src="{{ asset('image/') ~ product.picture }}" alt="Image de ">
                            
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden"><strong>Previous</strong></span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden"><strong>Next</strong></span>
					</button>
				</div>
				<div class=" d-flex justify-content-between " style="background-color: #343a40;">
						<h6 class="card-title " style="font-family: 'Roboto Slab', serif;"> <strong>{{ product.name }}</strong> </h6>
						<p class="card-text" style="color:rgb(56, 122, 160);">{{ product.price }} €</p>
						<a href="{{path("shop_add", {id: product.id})}}"  class="btn btn-outline-light "><i class="fas fa-shopping-cart"></i></a>
				</div>
			
        </div>

        
    </div>
    </div>
    <div class="col mt-4">
    {{product.content}}
    </div>
    </div>
    </div>
{# <div class="container">
    <section class="row">
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price }} €</p>
                    <img class="w-100" src="{{ asset('image/') ~ product.picture }}" alt="Image de {{ product.name }}">
                    <p>{{ product.content }}</p>
                    <hr>
                    <a href="{{path("shop_add", {id: product.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a>
                </div>
            </div>




        
    </section>
    </div> #}
<br>
<div class ='container' id='ajout-commentaire'>
    <p > <strong>Ajouter un commentaire</strong> </p>
{{ form_start(form) }}
  <p> votre e_mail </p>
  {{form_widget(form.email)}}
   <p> nom </p>
   {{form_widget(form.name)}}
    <p> votre commentaire </p>
    {{form_widget(form.content)}}
    <p> {{form_widget(form.rgpd)}}</p>

{{ form_end(form) }}
</div>

<br>
    <p class="container" > <strong>Liste des commentaires</strong> </p>

    {# la boucle affiche les commentaire #}
    <div class="container" >
    {% for comment in product.comments %}

    {% if comment.parent == null %}
    <div class = "container" >
    <h5> commentaires de {{ comment.name }}  </h5>
    
   
    <p> {{ comment.content }}</p> 
    </div>
    
    {# <p> publier le{{ comment.createdat|date("d/m/y")}}</p> #}
    {# <p>{{ comment.reatedAt|date("d/m/y H:1") }}</p> #}
    
   {#  affichage des réponse  #}
   
   <h5> Les réponses </h5>
    {% for reply in comment.replies %}
    <div class="container">
    {{ reply.name }}:
    {{ reply.content}}
    </div>
    {% endfor %}
    
    <br> <a  class='btn btn-dark'href="#" data-reply data-id="{{comment.id}}">répondre</a>
    {% endif %}

    {% endfor %}
    </div>

    {% block script %}
    <script>
    window.onload = () =>{
        // je met un écuteur d'évenement sur le button reply
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function(){
                //this contienderra tout élément sur leque j'aurrais clické 
                //permet d'injecter directement sur l'input caché l'id  
                //console.log(this);
                // je cherche l'élécont qui a l'id coments_parentid
                document.querySelector("#commentaire_parent").value = this.dataset.id // signifie le data id de la balise qur la quelle j'aurais clické 
            })
        })
    }
    
    </script>
    
    
    {% endblock %}
{% endblock %}
