{% extends 'base.html.twig' %}


{% block body %}
   
        <h1 style="color:black; display:block; text-align:center; margin-left:auto; margin-right:auto"> produits {{product.name}}</h1>
    


     <div class="tabs">
     {# affiche le message une fois le commentaire envoyer  #}
{% for message in app.flashes('message') %}
<div class= " p-3 mb-2 bg-success text-white" >{{message}} </div>
{% endfor %}
<div class="coontainer">
<div class="row">
<div class="col">
<div class="col-6 mt-4">
                    
		<div class="card w-10 h-20"  >
				
							
                                <img class="w-100" src="{{ asset('image/') ~ product.picture }}" alt="Image de ">
                        
				<div class=" d-flex justify-content-between " style="background-color: #343a40;">
						<h6 class="card-title " style="font-family: 'Roboto Slab', serif;"> <strong>{{ product.name }}</strong> </h6>
						<p class="card-text" style="color:rgb(56, 122, 160);">{{ product.price }} €</p>
						<a href="{{path("shop_add", {id: product.id})}}"  class="btn btn-outline-light "><i class="fas fa-shopping-cart"></i></a>
				</div>
			  <div class="container-fluid">
            <i class="fas fa-star" data-star="1"></i>
            <i class="fas fa-star" data-star="2"></i>
            <i class="fas fa-star" data-star="3"></i>
            <i class="fas fa-star" data-star="4"></i>
            <i class="fas fa-star" data-star="5"></i>
            
            <br>
            &nbsp; Notes: <span class="rating">-</span>/5
        </div>
        </div>
</div>
        
    </div>
    </div>
    <div class="col-2 mt-4 " style="margin-left:auto; margin-right:50%">
    {{product.content}}
    </div>
   
<br>
<div class ='container' style=" margin-right:100px" id='ajout-commentaire'>
    <p > <strong>Ajouter un commentaire</strong> </p>
{{ form_start(form) }}
  <p> votre e_mail </p>
  {{form_widget(form.email)}}
   <p> nom </p>
   {{form_widget(form.name)}}
    <p> votre commentaire </p>
    {{form_widget(form.content)}}
    <p> {{form_widget(form.rgpd)}}</p>

{{ form_end(form) }}
</div>

<br>
    <p class="container" > <strong>Liste des commentaires</strong> </p>

    {# la boucle affiche les commentaire #}
    <div class="container" >
    {% for comment in product.comments %}

    {% if comment.parent == null %}
    <div class = "container" >
    <h5> commentaires de {{ comment.name }}  </h5>
    
   
    <p> {{ comment.content }}</p> 
    </div>
    
    {# <p> publier le{{ comment.createdat|date("d/m/y")}}</p> #}
    {# <p>{{ comment.reatedAt|date("d/m/y H:1") }}</p> #}
    
   {#  affichage des réponse  #}
   
   <h5> Réponses </h5>
    {% for reply in comment.replies %}
    <div class="container">
    {{ reply.name }}:
    {{ reply.content}}
    </div>
    {% endfor %}
    
    <br> <a  class='btn btn-dark'href="#" data-reply data-id="{{comment.id}}">répondre</a>
    {% endif %}

    {% endfor %}
    </div>

    {% block script %}
    <script>
    window.onload = () =>{
        // je met un écuteur d'évenement sur le button reply
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function(){
                //this contienderra tout élément sur leque j'aurrais clické 
                //permet d'injecter directement sur l'input caché l'id  
                //console.log(this);
                // je cherche l'élécont qui a l'id coments_parentid
                document.querySelector("#commentaire_parent").value = this.dataset.id // signifie le data id de la balise qur la quelle j'aurais clické 
            })
        })
    }
    
    </script>
    
    
    {% endblock %}
{% endblock %}

{% block js %} <script src="/assets/js/script.js"></script> {% endblock %}