{% extends 'base.html.twig' %}



{% block body %}
    
       
       

       
<div id= "carousel-center" class="container ">

		<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner ">
			  <div class="carousel-item ">
					
				<a href="{{path('product')}}"><img class="carousel" style="width:900px; display:block; margin-left:auto; margin-right:auto;text-align:center" src="/bracelet.jpg" class="img-responsive" alt="..."></a>
					
				<div class="carousel-caption d-none d-md-block">
				  <h1 style="font-family: 'Dancing Script'; font-size: 30px; color: black;"> <strong>Braclet</strong></h1>
				   <p style="color:black"> <strong>clicker sur l'image pour accéder aux produits </strong> </p>
				</div>
			  </div>
			  <div class="carousel-item ">
				  
				<a href="{{path('product_cheville')}}"><img class = "carousel" style="width:500px; display:block; margin-left:auto; margin-right:auto;text-align:center" src="/cheville.jpg" class="img-responsive"  alt="..."></a>
				
				<div class="carousel-caption d-none d-md-block">
				  <h1 style="font-family: 'Dancing Script'; font-size: 30px; color: grey;">Bracelet de cheville</h1>
				  <p>clicker sur l'image pour accéder aux produits</p>
				</div>
			  </div>
			  <div class="carousel-item active">
				
				<a href="{{path('product_hanche')}}"><img class="carousel"  style="width:350px; display:block; margin-left:auto; margin-right:auto;text-align:center"src="/hanche.jpg" class="img-responsive"  alt="..."></a>
				
				<div class="carousel-caption d-none d-md-block">
				  <h1 style="font-family: 'Dancing Script'; font-size: 30px; color: black;">Chaîne de hanche</h1>
				  <p>clicker sur l'image pour accéder aux produits</p>
				</div>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
		</div>
    
        
    <section class="row ">
        {% for produit in product %}
    <div class="col-sm-4 col-md-6 " >
                    <div class="container">
		<div class=" card w-10 h-20"  >
			
							<a href="{{path('product_detail', {id: produit.id})}}"> 
                                <img  style ="height:350px;" class="w-100 img-responsive" src="{{ asset('image/') ~ produit.picture }}" alt="Image de ">
                            </a>
						
				<div class=" d-flex justify-content-between " style="background-color: #343a40; responsive: true">
						<h6 class="card-title " style="font-family: 'Roboto Slab', serif;"> <strong>{{ produit.name }}</strong> </h6>
						<p class="card-text" style="color:rgb(56, 122, 160);">{{ produit.price }} €</p>
						<a href="{{path("shop_add", {id: produit.id})}}"  class="btn btn-outline-light "><i class="fas fa-shopping-cart"></i></a>
				</div>
			
        </div>
        </div>
    </div>
        {% endfor %}
    </section>






{% endblock %}

