{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Les produits</h1>
        <div>
        <h2>Contact</h2>
        {{ form(contact) }}

  {# boucle qui affiche les message peut être mis dans le base.twig #}
        {% for messages in app.flashes('messages') %}
<div class = 'p-3 mb-2 bg-success text-white'> {{ messages }} </div>
        {% endfor %}
    
        </div>
    </section>

    <section class="row">
        {% for produit in product %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>{{ produit.name }}</h2>
                    <p>{{ produit.price }} €</p>
                   <a href="{{path('product_detail', {id: produit.id})}}"> <img class="w-100" src="{{ asset('uploads/') ~ produit.picture }}" alt="Image de {{ produit.name }}"></a>
                    
                    <hr>
                    <a href="{{path("shop_add", {id: produit.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

