{% extends 'base.html.twig' %}



{% block body %}
    
       
       

  {# boucle qui affiche les message peut être mis dans le base.twig #}
        {# {% for messages in app.flashes('messages') %}
<div class = 'p-3 mb-2 bg-success text-white'> {{ messages }} </div>
        {% endfor %} #}
    
        
    
    <section class="row">
        {% for produit in product %}
    <div class="col-4 mt-4">
                    
		<div class="card w-10 h-20"  >
			
							<a href="{{path('product_detail', {id: produit.id})}}"> 
                                <img  style ="height:350px;" class="w-100" src="{{ asset('image/') ~ produit.picture }}" alt="Image de ">
                            </a>
						
				<div class=" d-flex justify-content-between " style="background-color: #343a40;">
						<h6 class="card-title " style="font-family: 'Roboto Slab', serif;"> <strong>{{ produit.name }}</strong> </h6>
						<p class="card-text" style="color:rgb(56, 122, 160);">{{ produit.price }} €</p>
						<a href="{{path("shop_add", {id: produit.id})}}"  class="btn btn-outline-light "><i class="fas fa-shopping-cart"></i></a>
				</div>
			
        </div>
    </div>
        {% endfor %}
    </section>





{% endblock %}

